header {

    h1 {
        color: blue;
    }
    button{
        border:1em, black;
        background-color: red;
        color:white;
        font-weight:bold;
    }
}

nav {

    ul {

        li {

            a {}
        }
    }

    form {

        input {}
    }
}

main {

    .presentation {

        .entete1 {}

        p {}

        h3 {}
    }

    aside {

        h2 {}

        ul {

            li {

                a {}
            }
        }
    }
}

footer {

    p {}
}